html, body, #react-app {
    padding: 0;
    margin: 0;
    height: 100%;
}

body {
    background-color: lightgray;
    box-shadow: inset 0 0 14px gray;
}

.wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper-item {
  display: flex;
  justify-content: space-between;
}
